@import "tailwindcss";

@plugin "daisyui";

:root {
    --color-primary: #ef4426;
    --color-secondary: #14afa1;
    --color-base-content: oklch(20.8% 0.042 265.755);
    font-family: 'Nunito Sans', sans-serif;
}

.dark {
    --color-base-content: oklch(96.8% 0.007 247.896);
}


@theme {
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
}
